#! m0-start
/node_modules
stuff
coverage
#! m0-end

dist

#Cucumber tests
/behaviours/reports/cucumber
/behaviours/reports/templateCoverage
/behaviours/reports/fixtures/temp
/behaviours/env/default/tests.secrets.js